<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">

            <!-- end page-title -->

            <div class="row " style="justify-content: center;">
                <div class="col-lg-10 mt-4">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <h4 class="mt-0 header-title">Kitob qo'shish</h4>
                            <p class="sub-title">Parsley is a javascript form validation
                                library. It helps you provide your users with feedback on their form
                                submission before sending it to your server.</p>
                            <form action="/create/book/" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Kitob nomi</label>
                                    <textarea rows="3" type="text" name="title" class="form-control"
                                        data-parsley-minlength="3" required placeholder="Kitob Nomi"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Kitob Isbn raqami</label>
                                    <textarea rows="3" type="text" name="isbn" class="form-control"
                                        data-parsley-minlength="5" required placeholder="9999999"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Kitob Mualifi</label>
                                    <textarea rows="3" type="text" name="author" class="form-control"
                                        data-parsley-minlength="2" required placeholder="Kitob Mualifi"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Kitob Soni</label>
                                    <textarea rows="3" type="text" name="quantity" class="form-control"
                                        data-parsley-minlength="0" required placeholder="10"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Kategoriya qo'shish</label>
                                    <div>
                                        <select required name="bookCategory" class="form-control">
                                            <% category[0] ? category.map(item=> {%>
                                                <option value="<%= item._id%>">
                                                    <%= item.name%>
                                                </option>
                                                <% }) : "Kategoriyalar yo'q" %>
                                        </select>
                                    </div>
                                </div>
                             
                                <div class="form-group" style="display: none;">
                                    <label> Institut</label>
                                    <textarea rows="3" type="text"" name="institut" class="form-control"
                                        data-parsley-minlength="0" required
                                        placeholder="10"><%=otmadmin.institut  %></textarea>
                                </div>

                                <div class="input-group mb-3 pb-3 mt-2">
                                    <div class="file-upload" style="width: 100%;">
                                        <div class="image-upload-wrap">
                                            <input name="photo" class="file-upload-input" class="form-control"
                                                type="file" onchange="readURL(this);" required />
                                            <div class="drag-text">
                                                <h3>Rasm tanlang</h3>
                                            </div>
                                        </div>
                                        <div class="file-upload-content">
                                            <img class="file-upload-image" />
                                            <div class="image-title-wrap">
                                                <button type="button" onclick="removeUpload()" class="remove-image">
                                                    O'chirish <span class="image-title">Rasmni yuklash</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <button type="submit" class="btn btn-primary waves-effect waves-light">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                    Cancel
                                </button>
                        </div>
                    </div>
                    </form>

                </div>
            </div>
        </div> <!-- end col -->

    </div> <!-- end row -->
</div>
<!-- content -->