<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/bootstrap.min.css">
     <title>kun.uz</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
     <div class="container-fluid m-0 p-0">
          <div class="container boshrasm">
               <a href="https://storage.kun.uz/source/6/w-o2cul_ZC6XrqdSton4QtHkSd7ueAoP.jpg"><img
                         src="https://storage.kun.uz/source/6/IfF62S3GbJyB2fHeXbyK3Mqd9KoF_mzQ.jpg" alt="bir"></a>
          </div>
          <div class="row">
               <div class="col-md-1 p-3 pl-5">
                    <a href="https://kun.uz/news/category/uzbekiston?next=1601004407"><img
                              src="https://kun.uz/assets/2ed6cdd/img/kun-uz-logo.svg" alt="bir"></a>

               </div>
               <div class="col-md-7">
                    <nav class="navbar navbar-expand-sm bg-white">
                         <ul class="navbar-nav ">
                              <li class="nav-item">
                                   <a class="nav-link text-dark" style="font-family: sans-serif; font-size: 15px;"
                                        href="index.html">ЎЗБЕКИСТОН</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link text-dark" style="font-family: sans-serif; font-size: 15px;"
                                        href="jahon.html">ЖАҲОН</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link text-dark" style="font-family: sans-serif; font-size: 15px;"
                                        href="iqtisod.html">ИҚТИСОДИЁТ</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link text-dark" style="font-family: sans-serif; font-size: 15px;"
                                        href="jamiyat.html">ЖАМИЯТ</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link text-dark" style="font-family: sans-serif; font-size: 15px;"
                                        href="texnologiya.html">ТЕХНОЛОГИЯ</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link text-dark" style="font-family: sans-serif; font-size: 15px;"
                                        href="sport.html">СПОРТ</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link text-dark" style="font-family: sans-serif; font-size: 15px;"
                                        href="kun.html">KUN.UZ LIGHT</a>
                              </li>
                              <li class="nav-item text-dark" style="font-family: sans-serif; font-size: 15px;">
                                   <a class="nav-link text-dark" style="font-family: sans-serif; font-size: 15px;"
                                        href="audio.html">AУДИО ХАБАР</a>
                              </li>
                         </ul>
                    </nav>
               </div>

               <div class="col-md-4">
                    <nav class="navbar navbar-expand-sm bg-white navbar-dark">
                         <form class="form-inline">
                              <button class="btn btn-danger border rounded-pill" type="submit">КОРОНАВИРУС</button>
                              <img class="p-2" src="img/rasm1.png" alt="">
                              <img class="p-2" src="img/rasm2.png" alt="">
                              <button class="btn btn-white border rounded-pill" type="submit">Ўзбекча</button>
                         </form>
                    </nav>
               </div>
          </div>

          <div class="row">
               <div class="col">
                    <img src="img/rasm3.png" alt="bir">
               </div>
          </div>

          <div class="row">
               <!-- o'ng qism -->
               <div class="col-md-9 ">
                    <div class="container">
                         <h1>
                              <%=seen.name%>
                         </h1>
                         <img src="/uploads/<%=seen.photo%>" alt="" style="width: 100%; height : 600px">
                         <%- seen.descripton%>
                    </div>
               </div>
               <!-- saidbar -->
               <div class="col-md-3">
                    <div class="blokk  border-bottom">
                         <!-- <div><div class="bloc bg-dark border rounded-circle" style="width: 18px; height: 18px;"></div></div> -->
                         <div> <a href="#">
                                   <h2 class="m-3  text-dark " style="font-size: 23px;">Сўнгги янгиликлар</h2>
                              </a></div>
                         <%latest[0] ? latest.map (item=>{%>
                              <div>
                                   <p class="text-muted m-3" style="font-size:15px;">23:14</p>
                                   <a href="#">
                                        <p class=" m-3  text-dark" style="font-size: 18px;">
                                             <%=item.name%>
                                        </p>
                                   </a>
                              </div>
                              <%}):null%>
                    </div>


                    <button type="button" class="btn btn-outline-dark p-2 ml-3 px-5">Кўпроқ янгилик </button>
               </div>
          </div>
          <div class="row">
               <div class="col-md-9">
                    <img src="img/rasm4.png" alt="">
               </div>
               <div class="col-md-3 ">
                    <div class="btn btn-group ">
                         <button type="button" class="btn btn-dark border rounded-pill  mt-5 p-3  px-4">GOOGLE
                              PLAY</button>
                         <button type="button" class="btn btn-dark border rounded-pill mt-5 p-3  px-4">Apple
                              Story</button>
                    </div>
               </div>
          </div>

          <footer class="bg-black">
               <div class="row bg-dark tex-light ">
                    <div class="col-md-9">
                         <nav class="navbar bg-dark navbar-expand-md  navbar-dark">

                              <ul class="navbar-nav">
                                   <li class="nav-item">
                                        <a class="nav-link p-3 tex-white" href="#">Сайт ҳақида</a>
                                   </li>
                                   <li class="nav-item">
                                        <a class="nav-link p-3 tex-white" href="#"> RSS </a>
                                   </li>
                                   <li class="nav-item">
                                        <a class="nav-link p-3 tex-white" href="#"> Алоқа</a>
                                   </li>

                                   <li class="nav-item">
                                        <a class="nav-link p-3 tex-white" href="#">Реклама</a>
                                   </li>
                                   <li class="nav-item">
                                        <a class="nav-link p-3 tex-white" href="#"> Кун мавзулари </a>
                                   </li>
                                   <li class="nav-item">
                                        <a class="nav-link p-3 tex-white" href="#">Kun.uz жамоаси</a>
                                   </li>
                              </ul>

                         </nav>

                         <p class="text-white ml-3 mt-0 pt-0 " style="font-size: 16px;"> «KUN.UZ» сайтида эълон қилинган
                              материаллардан нусха кўчириш, тарқатиш ва бошқа шаклларда фойдаланиш фақат таҳририят ёзма
                              розилиги билан амалга оширилиши мумкин.</p>
                         <p class="text-white ml-3 mt-0 pt-0 " style="font-size: 16px;">Гувоҳнома: №0987. Берилган
                              санаси: 22.06.2015 йил. Муассис: «WEB EXPERT» МЧЖ. Таҳририят манзили: 100043, Тошкент
                              шаҳри, К. Ёрматов кўчаси, 12-уй. Электрон манзил: info@kun.uz.</p>
                         <p class="text-white ml-3 mt-0 pt-0 " style="font-size: 16px;">Сайтда эълон қилинаётган
                              муаллифлик мақолаларида келтирилган фикрлар муаллифга тегишли ва улар Kun.uz таҳририяти
                              нуқтаи назарини ифода этмаслиги мумкин</p>
                    </div>
                    <div class="col-md-3">
                         <a href="#">ish
                              <img src="img/rasm5.png" class="mt-5" style="padding-top: 80px; padding-left: 40px;"
                                   alt="">
                         </a>
                    </div>
               </div>
          </footer>

     </div>
</body>

</html>